// Imports
@import 'fontes';

// Variáveis globais -  modo teste
$nice-blue: #5B83AD;
$light-blue: $nice-blue + #111;

.container {
    h1 {
        color: $light-blue;
        font-family: Ubuntu Mono;
        font-weight: bold;
    }
}