// Fontes personalizadas
@font-face {
    font-family: Ubuntu Mono;
    src: url(../fonts/UbuntuMono-R.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Ubuntu Mono;
    src: url(../fonts/UbuntuMono-B.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Ubuntu Mono;
    src: url(../fonts/UbuntuMono-RI.ttf);
    font-style: italic;
}
@font-face {
    font-family: Ubuntu Mono;
    src: url(../fonts/UbuntuMono-BI.ttf);
    font-weight: bold;
    font-style: italic;
}